<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0">
    <link rel="stylesheet" href="../../css/boilerplate.css">
    <link rel="stylesheet" href="../../css/Public/public_style.css">
</head>
<body>
    <div id="headerBox">
        <header class="clearfix hContainer box" role="banner">
            <nav role="navigation">
                <ul class="nav-main">
                    <li><a href="" class="CurrPage">权限等级管理</a></li>
                    <li><a href="../HandleDepartment/HandleDepartmentIndex.html">部门管理</a></li>
                    <li><a href="../HandleUser/HandleUserIndex.html">用户管理</a></li>
                    <li><a href="../HandleProcess/HandleProcessIndex.html">业务流程管理</a></li>
                    <li><a href="../HandleBusiness/HandleBusinessIndex.html">业务管理</a></li>
                </ul>
            </nav>
            <br/>
            <nav role="navigation">
                <ul class="nav-main">
                    <li><a href="HandleAuthorityAdd.html">添加权限等级</a></li>
                    <li><a href="" class="CurrPage">修改权限等级</a></li>
                </ul>
            </nav>
        </header>
    </div>
</div>
</body>
</html>